.footer {
	width: 100%;
	text-align: center;
	bottom: 0;
	user-select: none;
	background: var(--background-white);
	opacity: 0.6;
	font-weight: bold;
	position: fixed;
	z-index: 100;
}

.text {
	color: var(--font-color-blue);
	padding: 8px;
}
