.header {
	background: var(--background-white);
	padding: 1rem;
	box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
}

.navbar {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: row;
	gap: 16px;
	justify-content: flex-end;
	align-items: center;
	font-weight: bold;
	border-radius: 8px;
}

.navbar__links {
	position: relative;
	color: var(--font-color-blue);
	font-family: var(--basic-font);
	text-decoration: none;
}

.navbar__links::after {
	position: absolute;
	display: flex;
	
	left: 0;
	content: "";
	width: 100%;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 2px;
	bottom: -5px;
	background: var(--underline-color);
	opacity: 0;
	visibility: hidden;
	transition: 0.5s ease-out;
}

.navbar__links:hover::after {
	visibility: visible;
	bottom: 2px;
	scale:1.1;
	opacity: 1;
}
