.header {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 0.5rem;
    font-weight: bold;
    background-color: aliceblue;
    padding: 1rem;
}

.header__link::after {
    content: '';
    position: absolute;
    left: 50%;
    /* 中央からスタート */
    bottom: 0;
    width: 0;
    /* 初期状態ではアンダーラインがない */
    height: 2px;
    background-color: black;
    transition: width 0.3s ease, left 0.3s ease;
    /* アニメーションの設定 */
}

.header__link:hover::after {
    width: 100%;
    left: 0;
    /* マウスオーバー時にアンダーラインを表示 */
}