@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--background-start-rgb: #bdc0ba;
	--foreground-rgb: #434343;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100%;
	height: 100%;
	max-height: 100vh;
	overflow-x: hidden;
	scrollbar-width: none;
	background: linear-gradient(#aaffff, #81c7d4, #0a8899) no-repeat;
}

@keyframes bg-gradient {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 100% 0;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

h1,
h2,
h3,
p,
a {
	font-family: "Noto Sans JP", "Noto Sans", sans-serif;
	font-kerning: normal;
	font-optical-sizing: auto;
	font-kerning: auto;
}

h1 {
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;

	font-weight: 700;
	font-style: normal;
}

.heading-1 {
	font-size: 2rem;
	margin: 2rem;
}

.about-body {
	margin: 0 10rem;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.about-body__head {
	font-size: 2rem;
	text-align: left;
}

.about-body__text {
	font-size: 1rem;
	text-align: center;
	margin: 1rem 10rem;
	line-height: 150%;
}
