.container {
	width: 100vw;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select: none;
	overflow-y: hidden;
}

.title {
	font-size: 5.0rem;
	color: aliceblue;
}

.titleContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap:5rem;
}

.linkContainer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap:3rem;
}

.link {
	position: relative; 
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	color: #4a4fdf;
	text-decoration: none;
	transition: 0.5s ease;
	z-index: 1;
  }
  
  
  .link::before {
	position: absolute;
	content: "";
	align-items: center;
	justify-content: center;
	width: 12rem; /* 円の直径 */
	height: 12rem;
	background-color: aliceblue;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	top:50%;
	left: 50%;
	z-index: -1;
	opacity: 0.5;
	transition: 0.3s ease;
  }
  
  .link:hover::before {
	opacity: 0.8;
  }
  


.bubble {
	position: fixed;
	width: 100vw; /* 横幅全体に配置 */
	height: 20px;
	color: white;
	bottom: -10px;
	animation: floating ease-in .5s infinite;
	animation-duration: 40s;
	opacity: 0.8;
	justify-content: space-between;
	user-select: none;
	pointer-events: none; /* Prevent click selection */
}

@keyframes floating {
	0% {
		transform: translateY(10px) translateX(calc(cos(50deg)));
	}

	100% {
		transform: translateY(-110vh) translateX(calc(sin(60deg) * 10px));
	}
}
